.title{
  font-size: 1.75rem;
  color: var(--c15);
  margin-bottom: 8px;
}

.subtitle{
  margin-bottom: 12px;
}

p{
  color: var(--c9);
}

.form{
  display: flex;
  flex-direction: column;
  padding-block: 12px;
}

.form label{
  font-size: 1rem;
  margin-bottom: 4px;
}

button{
  border: none;
  border-radius: 8px;
  padding-block: 12px;
  font-weight: bold;
  font-size: .875rem;
  color: var(--c1);
  background-color: var(--a1);
  cursor: pointer;
}

.moreInfos{
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.forgotPassword{
  color: var(--a1);
  cursor: pointer;
}

hr {
  background-color: var(--c11);
  width: 100%;
}

.register{
  color: var(--a1);
}

.image{
  max-width: 100%;
  display: block;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 650px){
  .image{
    display: none;
  }
}
