.title{
  font-size: 1.75rem;
  color: var(--c15);
  margin-bottom: 8px;
}

.back-page{
  margin-bottom: 32px;
  color: var(--a1);
  width: fit-content;
}

.subtitle{
  margin-bottom: 12px;
}

p{
  color: var(--c9);
}

.form{
  display: flex;
  flex-direction: column;
  padding-block: 12px;
}

.form label{
  font-size: 1rem;
  margin-bottom: 4px;
}

button{
  border: none;
  border-radius: 8px;
  padding-block: 12px;
  font-weight: bold;
  font-size: .875rem;
  color: var(--c1);
  background-color: var(--a1);
  cursor: pointer;
}

.image{
  max-width: 100%;
  display: block;
  height: 100vh;
  object-fit: cover;
}

@media (max-width: 850px){
  .container{
    grid-template-columns: 2fr 1fr;
    transition: .3s;
  }
}

@media (max-width: 650px){
  .container{
    grid-template-columns: 1fr;
    transition: .3s;
  }

  .image{
    display: none;
  }
}
